@model List<FizzResult>

<div class="text-center">
    <h1 class="display-4">Welcome to FizzBuzz!</h1>
    @using (Html.BeginForm("Start", "Home", FormMethod.Post))
    {
        <input type="submit" value="Start" class="btn btn-default" />
    }

    @foreach (var item in Model)
    {
        <div>(@item.Count), @item.Word</div>    
    }
  
</div>
