@model List<FizzResult>

<div>
    <h1 class="display-4">Welcome to FizzBuzz!</h1>

    @foreach (var item in Model)
    {
        if (item.Count == Model.Count)
        {
            <span>@item.Word</span>
        }
        else
        {
            <span>@item.Word, </span>    
        }
    }
  
</div>
